---
applications:
  - name: integration-predix-machinedata-simulator
    buildpack: java_buildpack
    path: target/machinedata-simulator-1.1.5.jar
    timeout: 120
env:
    machineControllerId: 1
    predix_dataingestion_service_uri: ${dataIngestionUrl}
    
