<rmd-ref-app-live-card
	class="px-card"
	id="refAppLiveDataDemo"
	min=0
	max=5
	units=""
	threshold-low="1"
	threshold-high="4"
	title="Bently Compressor"
	rows="10"
	ws-url="wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:CompressionRatio"
>

</rmd-ref-app-live-card>

        <script>
            var chart = Polymer.dom(document).querySelector('#refAppLiveDataDemo');
            // var lineData = [ [(new Date()).getTime(), 70] ];
            // chart.lineData = [];
            chart.context = {
			    "pickerOptions": [
			        {
			            "sourceTagId": "Compressor-2015:CompressionRatio",
			            "meterUri": "/meter/crank-frame-compressionratio",
			            "thresholdHigh": 3,
			            "thresholdLow": 2.5,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:CompressionRatio",
			            "label": "crank-frame-compressionratio",
			            "colorIndex": 0
			        },
			        {
			            "sourceTagId": "Compressor-2015:DischargePressure",
			            "meterUri": "/meter/crank-frame-dischargepressure",
			            "thresholdHigh": 23,
			            "thresholdLow": 0,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:DischargePressure",
			            "label": "crank-frame-dischargepressure",
			            "colorIndex": 1
			        },
			        {
			            "sourceTagId": "Compressor-2015:SuctionPressure",
			            "meterUri": "/meter/crank-frame-suctionpressure",
			            "thresholdHigh": 0.21,
			            "thresholdLow": 0,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:SuctionPressure",
			            "label": "crank-frame-suctionpressure",
			            "colorIndex": 2
			        },
			        {
			            "sourceTagId": "Compressor-2015:MaximumPressure",
			            "meterUri": "/meter/crank-frame-maxpressure",
			            "thresholdHigh": 26,
			            "thresholdLow": 22,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:MaximumPressure",
			            "label": "crank-frame-maxpressure",
			            "colorIndex": 3
			        },
			        {
			            "sourceTagId": "Compressor-2015:MinimumPressure",
			            "meterUri": "/meter/crank-frame-minpressure",
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:MinimumPressure",
			            "label": "crank-frame-minpressure",
			            "colorIndex": 4
			        },
			        {
			            "sourceTagId": "Compressor-2015:Velocity",
			            "meterUri": "/meter/crank-frame-velocity",
			            "thresholdHigh": 0.07,
			            "thresholdLow": 0,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:Velocity",
			            "label": "crank-frame-velocity",
			            "colorIndex": 5
			        },
			        {
			            "sourceTagId": "Compressor-2015:Temperature",
			            "meterUri": "/meter/crank-frame-temperature",
			            "thresholdHigh": 80,
			            "thresholdLow": 65,
			            "wsUrl": "wss://predix-websocket-server.run.aws-usw02-pr.ice.predix.io/livestream/Compressor-2015:Temperature",
			            "label": "crank-frame-temperature",
			            "colorIndex": 6
			        }
			    ]
			};
            
        </script>


